{{>header}}
{{>menu}}
<section id="viewMe">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">Pesho</h2>



            <div id="myStats" class="user-details">
                <span>0 chirps</span> | <span>1 following</span> | <span>0 followers</span>
            </div>
        </div>
        <div id="myChirps" class="chirps">
            <h2 class="titlebar">Chirps</h2>

        </div>
    </div>
</section>

{{>footer}}