<div>
    {{#if user}}
        <div class="col-sm-offset-1">
            {{user.email}}
        </div>
        <div class="col-sm-offset-1">
            {{user.fullName}}
        </div>
    {{/if}}
</div>